# OS
.DS_Store
Thumbs.db

# IDE
.idea/
.vscode/
*.swp
*.swo

# Dependencies
node_modules/
.terraform/
*.tfstate
*.tfstate.*

# Build
dist/
build/
*.pyc
__pycache__/

# Environment
.env
.env.local
*.pem
*.key

# Logs
*.log
logs/
